/* Border box declaration */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	background-image: url("../img/bground-md.jpg");
	font-size: 100%;
}

header {
  position: fixed;
  background-color: #000;
  margin-bottom: 0px;
  border-bottom: 5px solid $color-primary;
  clear: both;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  display: block; 
  h1 {
    font-family: $font-primary;
    padding: 0.5em;
    margin-top: 0px;
    padding-top: 2px;
    text-align: right; 
    a {
      color: $color-primary;
      text-decoration: none; 
      &:hover {
              color: $color-secondary;
      }
    }
  }
}

nav {
  font-family: $font-primary;
  font-size: 1.1em;
  position: fixed;
  background-color: $color-primary;
  color: white;
  width: 100%;
  top: 50px;
  left: 0;
  border-bottom: 3px solid black;
  /*clear: both; */
}

/*main elements and classes*/


.wrapper {
  font-family: $font-secondary;
  width: 96%;
  /*could be 100%*/
  max-width: 1200px;
  margin: 0 auto;
  float: none;
  background-color: #fff;
  margin-top: 80px;
  overflow: hidden;
  padding-bottom: 5px;
  text-align: center;
  /* sass nesting */
  h4 {
    margin-top: 0px;
    font-size: $h4-primary;
    margin-bottom: 0px; 
  }
  img {
    margin-top: 4px;
    margin-bottom: 1px; 
  } 
}

footer {
  font-family: $font-primary;
  padding: .5em auto;
  margin: .5em auto;
  /* a darker shade of the primary color */
  color: #fff;
  text-align: center;
  width:100%;
  height: auto;
  background-color: #7e0c01;
  display: block;
  clear: both; 
}

/* grid system */
.row:after {
  content: "";
  clear: both;
}

[class *='col-']{
	float:left;
	margin-left:3.33333%; /*Sass will only look at five digits after decimal*/
	min-height: 1px;
	border-bottom: 2px solid black;
}

/*  start of media queries */
@media only screen and (max-width: 479px) {

  header h1 a {
      color: mix($color-primary-dark, $color-secondary, 70%);
      &:hover {
              color: grayscale($color-secondary);
      }
  }
  [class*='col-'] {
    float: left;  
    margin: 0;
    width: 50%; 
	}
	.wrapper{
		width: 99%;
		margin-top:50px;
    img {
        margin-top: 2px;
        margin-bottom: 1px; 
      } 
	}
}
/* end 479 media query */

@media only screen and (min-width: 480px) and (max-width: 703px)  { 
	
  header h1 a {
      color: mix($color-primary, $color-secondary-dark, 30%);
      &:hover {
              color: invert($color-secondary);
      }
  }
  [class*='col-'] {  
		float: left;  
		margin: 0;
    width: 33%;
    height: 80%;  
	} 
	.wrapper{
		margin-top:55px;
    h4 {
        margin-top: 1px;
        font-size: .75em;
        margin-bottom: 2px;
      }
	}
  
} 
/* end 480x703 media query */


@media only screen and (min-width: 704px) and (max-width: 746px){
  
  header h1 a {
      color: mix($color-primary-dark, $color-secondary, 40%);
      &:hover {
              color: invert($color-secondary-dark);
      }
  }
  [class*='col-'] {
    float: left;
    margin: 0 auto;
    min-height: 1px; 
  }
  .col-1 {
    margin-bottom: 3px; 
  }
  .wrapper {
    width: 98.5%;
    img {
        width:75%;
        height:auto;
        margin-top: 2px;
        margin-bottom: 2px; 
    }
    h4{
    font-size: .90em; 
    }
  }
}
/* end 704x746 media query */

@media only screen and (min-width: 747px) and (max-width:779px){
  
  header h1 a {
      color: mix($color-primary, complement($color-secondary-dark), 5%);
      &:hover {
              color: mix($color-secondary, maroon, 25%);
      }
  }
  .wrapper img {
    width:auto;
    height:auto;
    margin-top: 2px;
    margin-bottom: 2px; 
  }
	.col-1 {
    	margin-left:1.33333%; /*Sass will only look at five digits after decimal*/ 
	}
}
/* end 747x779 media query */

@media only screen and (min-width: 780px) and (max-width:1192px){
  
  header h1 a {
      color: mix($color-primary, $color-secondary-dark, 60%);
      &:hover {
              color: mix($color-secondary, $color-primary, 25%);
      }
  }
  .col-1 {
      margin-left:1.33333%; /*Sass will only look at five digits after decimal*/ 
  }
}
/* end 780x1192 media query */

@media only screen and (max-width: 599px) {
    body {
      /* set a smaller background image for smaller devices */
      background-image: url("../img/bground-sm.jpg");
    }
}