/* my variables */

$font-primary: 'Audiowide', cursive, sans-serif;
$font-secondary:'PT Sans Narrow', sans-serif;
	
$color-primary: #D0DAE0; 
$color-primary-dark: darken($color-primary, 10%);

$color-secondary: #B11101;
$color-secondary-dark: darken($color-secondary, 20%);

$footer-bgcolor: #7E0C01;

/* font sizes */
$h4-primary: .85em;
$p-primary: 1.5em;

/* grid system */
$width-full: 100%;

$col-margin: 3.33333%;
